

.overall-background {
  /*background: #34495e;*/
  /*background: url('../img/zwartevilt.png') repeat;*/
}


.status-bar-default {
  /*background: #206D9A;*/
  background: #392414;
  opacity: 0.7;
}




/* Main TopBar */

.main-topbar-bg {
  background: #000;
}

.main-topbar-content-logo {
  background: #000;
  color: white;

  line-height: 60px;
  font-size: 24px;

  /*padding: 0 10px;*/
}

.main-topbar-content-logo img {
  height: 60px;
}

.main-topbar-content-sharebutton {

  text-align: right;

  background: #000;
  color: white;

  line-height: 60px;
  font-size: 14px;

  padding: 0 10px 0 0;

}

.main-topbar-content-sharebutton > div {
  display: table-cell;
  vertical-align: middle;

  float: right;
}

.main-topbar-content-sharebutton span {

}

.main-topbar-content-sharebutton i.icon1 {
  font-size: 18px;
  padding: 0 8px;
}

.main-topbar-content-sharebutton i.icon2 {
  font-size: 28px;
  padding-left: 8px;
}

.main-topbar-content-guidetext {
  background: #e6873b;
  color: #000;

  text-align: center;

  line-height: 24px;
  font-size: 14px;

}


/* share buttons (on the popover) */

.share-buttons-text {
  text-align: center;
  padding: 8px 8px 0 8px;
  font-size: 14px;
  line-height: 18px;
  color: #222;
}


/* Splash Screen */

.splash-background-default {
  background-color: #392414;
}

.splash-surface-default {
  
  /*font-weight: bold;*/
  font-family: Helvetica, Arial, sans-serif;

  line-height: 20px;
  font-size: 14px;

  color: rgba(255,255,255,0.8);

  text-align: center;
}

.splash-surface-default img {
  width: 100%;
}

.splash-surface-default div.title {
  line-height: 22px;
  font-size: 18px;
}

.splash-surface-default div.subtitle {
  padding-top: 8px;
  line-height: 18px;
  font-size: 14px;
}



/* Booth List */

.booth-list-item {
  padding: 8px;
}

.booth-list-item > div {
  padding: 8px 10px;

  border: 1px solid #eee;

  border-radius: 3px;
  -webkit-border-radius: 3px;

  -webkit-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);

}

.booth-list-item > div > div:nth-child(1) {
  font-size: 22px;
  line-height: 28px;

  color: #000;
}

.booth-list-item > div > div:nth-child(2) {
  font-size: 18px;
  line-height: 24px;

  color: #555;
}

.booth-list-item > div > div:nth-child(3) {
  font-size: 14px;
  line-height: 18px;
  color: red;
  opacity: 0.5;
}


/* Party List */

.party-list-item {
  padding: 8px;
}

.party-list-item > div {
  padding: 8px 10px;

  border: 1px solid #eee;

  border-radius: 3px;
  -webkit-border-radius: 3px;

  -webkit-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
}

.party-list-item > div > div.name {
  font-size: 22px;
  line-height: 28px;

  color: #000;
}

.party-list-item > div .fee {
  font-size: 18px;
  line-height: 24px;

  color: #555;
}

.party-list-item > div .where {
  font-size: 18px;
  line-height: 24px;

  color: #555;

}

.party-list-item > div .who {
  font-size: 18px;
  line-height: 24px;

  color: #555;

}

.party-list-item > div .starttime {
  font-size: 18px;
  line-height: 24px;

  color: #555;

}


/* Speaker List */

.speaker-list-item {
  padding: 8px;
}

.speaker-list-item > div {
  padding: 8px 10px;

  border: 1px solid #eee;

  border-radius: 3px;
  -webkit-border-radius: 3px;

  -webkit-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
}

.speaker-list-item > div .session a,
.speaker-list-item > div .session {
  font-size: 20px;
  line-height: 28px;

  color: #000;
}

.speaker-list-item > div .company {
  font-size: 18px;
  line-height: 24px;

  color: #555;

}

.speaker-list-item > div .level {
  font-size: 14px;
  line-height: 18px;

  color: #000;
}

.speaker-list-item > div .day-and-time {
  opacity: 0.8;
}

.speaker-list-item > div .day {
  font-size: 14px;
  line-height: 18px;

  color: #000;

}

.speaker-list-item > div .time {
  font-size: 14px;
  line-height: 18px;

  color: #000;
}



/* Tip List */

.tip-list-item-header {
  padding: 8px;
}

.tip-list-item-header > div {
  font-size: 20px;
  line-height: 28px;

  text-decoration: underline;

  color: #000;
}

.tip-list-item {
  padding: 8px;
}

.tip-list-item > div > div.details {
  padding: 8px 10px;

  border: 1px solid #eee;

  border-radius: 3px;
  -webkit-border-radius: 3px;

  -webkit-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);

}

.tip-list-item .title {
  font-size: 18px;
  line-height: 24px;

  font-weight: bold;

  padding-left: 8px;
  padding-bottom: 4px;

  color: #000;
}

.tip-list-item .more-info {
  font-size: 16px;
  line-height: 20px;

  /*padding-left: 8px;*/

  color: black;

  word-wrap: break-word;
}

.tip-list-item .more-info-2 {
  font-size: 14px;
  line-height: 20px;

  padding-left: 4px;

  color: #444;

  word-wrap: break-word;

  padding-bottom: 8px;
}

.tip-list-item .more-info-2:last-child {

  padding-bottom: 0px;
}


/* Payment Sources  - credit card list */

.payment-source-list-item-default {
  line-height: 44px;
  background: white;

  padding: 0px 8px;

  border-bottom: 1px dashed #ddd;
}

.payment-source-list-item-default > div:nth-child(1) {

  padding-top: 8px;

  font-size: 28px;
  line-height: 34px;
  color: #333;
}


.payment-source-list-item-default > div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #333;

  padding-bottom: 16px;
}


/* Creating new Todo */

.todo-add-summary-take-picture {
  border-bottom: 1px solid #ddd;
}

.todo-add-summary-take-picture .not-taken {
  text-align: center;
  line-height: 250px;
  font-size: 36px;
}

.todo-add-summary-take-picture .taken {
  overflow: hidden;
  height: 250px;
}

.todo-add-summary-take-picture .taken img {
  width: 100%;
  display: block;
}


.todo-add-summary-location-default {
  border-bottom: 1px solid #ddd;
}

.todo-add-summary-location-default .no-location {
  text-align: center;
  line-height: 80px;
  font-size: 28px;
}

.todo-add-summary-location-default .have-location {
  text-align: center;
  padding: 10px 8px;
}


.todo-add-summary-payment-default {
}

.todo-add-summary-payment-default .no-payment {
  text-align: center;
  line-height: 80px;
  font-size: 28px;
}

.todo-add-summary-payment-default .have-payment {
  padding: 10px 8px;
  text-align: center;
}

.todo-add-summary-payment-default .have-payment .name {
  font-size: 24px;
  line-height: 32px;
}

.todo-add-summary-payment-default .have-payment {
  font-size: 16px;
  line-height: 24px;
}


/* Invoice List - invoices */

.invoice-list-item-default {
  line-height: 44px;
  background: white;

  padding: 0px 8px;
}

.invoice-list-item-default > div:nth-child(1) {

  padding-top: 8px;

  font-size: 28px;
  line-height: 32px;
  color: #333;
}


.invoice-list-item-default > div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #333;

  padding-bottom: 16px;
}

.invoice-list-item-default .other-party {
  color: #222;
}

.invoice-list-item-default .other-party.draft {
  color: #888;
}


.invoice-toggle {
  margin-top: 16px;
  margin-left: 10px;
  border: 1px solid #ddd;
}

.invoice-toggle.toggle-on {

  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: black;
  /*background: red;*/
  background: #fefefe;
}
.invoice-toggle.toggle-on:before {
  content: "\f353";
}

.header-with-money-sign {
  display: inline-block; 
  font-family: "Ionicons"; 
  speak: none; 
  font-style: normal; 
  font-weight: normal; 
  font-variant: normal; 
  text-transform: none; 
  text-rendering: auto; 
  line-height: 1; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 60px;
}
.header-with-money-sign:before {
  content: "\f353";
}
.header-with-money-sign.white-money {
  color: white;
}

.invoice-toggle.toggle-off {
  background: none;
}

/* View User */

.view-user-bio-default {
  padding: 14px;
}

.view-user-bio-default > div {
  padding: 8px;
  border: 1px solid #eee;
  background: #fefefe;
}

.view-user-background-check-default {
  line-height: 80px;
  text-align: center;

  font-size: 24px;
}







/* Landing Page */

.landing-page-bg-default {
  /*background: url('../img/landingbg.png') no-repeat;*/
  
  /*background-size: cover;*/
  background: white;

}

.landing-page-logo-tagline {
  text-align: center;
}

.landing-page-logo-tagline > div:nth-child(1) {
  font-size: 72px;
  line-height: 80px;
}

.landing-page-logo-tagline > div:nth-child(2) {
  font-size: 18px;
  line-height: 24px;
}

.landing-title-bg-gradient {

  background: white;

  /*
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(36%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,0.92)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  */
}

.landing-signup-button {
  color: white;
  padding: 8px 8px;
  text-align: center;
}

.landing-signup-button > div {
  display: inline-block;
  /*background: #182030;*/
  background: #307A87;
  padding: 14px 8px;
  width: 80%;

  white-space: nowrap;
  overflow: hidden;

  border-radius: 2px;
  -webkit-border-radius: 2px;

}

.landing-login-button {
  text-align: center;
  padding: 16px 8px 8px 8px;
  /*color: white;*/
  color: #1F2D2D;
}

.landing-login-button span {
  font-weight: bold;
}

.header-landing-page-text {
  color: #1F2D2D;
  text-align: left;
  line-height: 60px;

  white-space: nowrap;
  /*overflow: hidden;*/

}


/* login */

.login-page-welcome-top-default { /* > div:nth-child(3){*/
  font-weight: bold;
  font-size: 58px;
  line-height: 60px;
  /*font-family: 'Kaushan Script', cursive;*/
  text-align: center;
}

.login-forgot-pass-button {
  color: #444;
  line-height: 60px;
  text-align: center;
}



/* welcome ! */

.welcome-page-default {
  /*background: white;*/
  text-align: center;
  color: #333;
}

.welcome-page-default > div:nth-child(1){
  font-size: 20px;
  line-height: 30px;
}

.welcome-page-default > div:nth-child(2){
  font-size: 14px;
  line-height: 20px;
}

.welcome-page-default > div:nth-child(3){
  /*font-weight: bold;*/
  font-size: 72px;
  line-height: 80px;
  /*font-family: 'Kaushan Script', cursive;*/
}

.welcome-page-default > div:nth-child(4) {
  font-size: 26px;
  line-height: 50px;
}

.welcome-page-username-default {
  text-align: center;
  color: #333;
  line-height: 30px;
  font-size: 18px;
}


/* Settings */

.settings-list-item {
  /*color: white;*/
  line-height: 32px;
  font-size: 24px;
  padding: 20px 8px 8px 8px;
  /*border-bottom: 1px solid #ddd;*/
  /*background-color: white;*/
  /*background: rgba(255,255,255,0.2);*/
}

.settings-list-item i {
  padding: 0 0 0 8px;
  display: inline-block;
  width: 24px;
}

.settings-list-item > div:last-child {
  font-size: 14px;
}
.settings-list-item > div:first-child {
  font-size: 18px;
}




